FOCUSEA_ALLOWED_ORIGINS=https://captainemo03.github.io,http://127.0.0.1:8000
FOCUSEA_DATABASE_PATH=
FOCUSEA_OWNER_WEBHOOK=
FOCUSEA_ADMIN_KEY=
FOCUSEA_SMTP_HOST=smtp.gmail.com
FOCUSEA_SMTP_PORT=587
FOCUSEA_SMTP_USERNAME=
FOCUSEA_SMTP_PASSWORD=
FOCUSEA_SMTP_FROM=
FOCUSEA_RESET_URL=https://captainemo03.github.io/#accountPage
FOCUSEA_AIS_ENDPOINT=
FOCUSEA_AIS_API_KEY=
FOCUSEA_AISSTREAM_ENDPOINT=wss://stream.aisstream.io/v0/stream
FOCUSEA_AISSTREAM_API_KEY=
FOCUSEA_MET_ENDPOINT=https://api.met.no/weatherapi/locationforecast/2.0/compact
FOCUSEA_NWS_ENDPOINT=https://api.weather.gov/alerts/active
FOCUSEA_EIA_ENDPOINT=https://api.eia.gov/v2/petroleum/pri/spt/data/
FOCUSEA_EIA_API_KEY=
FOCUSEA_DATA_CONTACT=
FOCUSEA_BALTIC_ENDPOINT=
FOCUSEA_BALTIC_API_KEY=
FOCUSEA_BUNKER_ENDPOINT=
FOCUSEA_BUNKER_API_KEY=
FOCUSEA_DEV_EXPOSE_RESET_TOKEN=0