FOCUSEA_ALLOWED_ORIGINS=https://captainemo03.github.io,http://127.0.0.1:8000
FOCUSEA_DATABASE_PATH=
FOCUSEA_OWNER_WEBHOOK=
FOCUSEA_ADMIN_KEY=
FOCUSEA_SMTP_HOST=smtp.gmail.com
FOCUSEA_SMTP_PORT=587
FOCUSEA_SMTP_USERNAME=
FOCUSEA_SMTP_PASSWORD=
FOCUSEA_SMTP_FROM=
FOCUSEA_RESET_URL=https://captainemo03.github.io/#accountPage
FOCUSEA_AIS_ENDPOINT=
FOCUSEA_AIS_API_KEY=
FOCUSEA_BALTIC_ENDPOINT=
FOCUSEA_BALTIC_API_KEY=
FOCUSEA_BUNKER_ENDPOINT=
FOCUSEA_BUNKER_API_KEY=
FOCUSEA_DEV_EXPOSE_RESET_TOKEN=0